<form role="form" ng-if="formData.type === 'form'" class="{{formData.class}}">
  <hgroup>
    <h2>{{formData.title}}</h2>
    <h3 ng-if="formData.subtitle">{{formData.subtitle}}</h3>
  </hgroup>


  <div class="panel panel-default"  ng-repeat="formSection in formData.formSections" ng-disabled="!permissionsHandler.hasAccess(formSection,'canWrite')" ng-if="permissionsHandler.hasAccess(formSection,'canRead')">
    <div class="panel-heading" role="tab" id="{{formData.id}}_handling_{{$index}}">
      <h4 class="panel-title">
        <a data-toggle="collapse" ng-click="preventDefault(this)" data-parent="#{{formData.id}}_accordion" href="#{{formData.id}}_collapse_{{$index}}" aria-expanded="false" aria-controls="{{formData.id}}_collapse_{{$index}}">
          {{formSection.text}}
        </a>
      </h4>
    </div>
    <div id="{{formData.id}}_collapse_{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{formData.id}}_handling_{{$index}}">
      <div class="panel-body">
        <div ng-if="!formSection.custom" ng-repeat="formRow in formSection.formRows" class="{{formRow.class}}" ng-disabled="!permissionsHandler.hasAccess(formRow,'canWrite')" ng-if="permissionsHandler.hasAccess(formRow,'canRead')">
          <div ng-include ng-repeat="field in formRow.fields" src="'form_' + field.type" class="{{field.class}}" ng-disabled="!permissionsHandler.hasAccess(field,'canWrite')" ng-if="permissionsHandler.hasAccess(field,'canRead')"></div>
        </div>
        <div ng-if="formSection.custom" ng-include src="formSection.custom"></div>
      </div>
    </div>
  </div>


  <div ng-repeat="formRow in formData.formRows" class="{{formRow.class}}" ng-if="formData.formRows">
    <div ng-include ng-repeat="field in formRow.fields" src="'form_' + field.type" class="{{field.class}}"></div>
  </div>
</form>

<!-------------------------------------------------------------------------------------------->
<!--------------------------------------Templates--------------------------------------------->
<!-------------------------------------------------------------------------------------------->

<script type="text/ng-template" id="form_input">
  <label for="{{field.id}}">{{field.text}}</label>
  <input type="{{field.inputType}}"
         id="{{field.id}}"
         class="form-control {{form.class}}"
         placeholder="{{field.placeholder}}"
         tabindex="{{field.tabIndex}}"
         ng-disabled="!permissionsHandler.hasAccess(field,'canWrite')"
         ng-model="field.value"/>
</script>


<script type="text/ng-template" id="form_textarea">
  <label for="{{field.id}}">{{field.text}}</label>
  <textarea id="{{field.id}}"
            class="form-control {{form.class}}"
            placeholder="{{field.placeholder}}"
            tabindex="{{field.tabIndex}}"
            ng-disabled="!permissionsHandler.hasAccess(field,'canWrite')"
            ng-model="field.value"></textarea>

</script>


<script type="text/ng-template" id="form_radioGroup">
  <label>{{field.text}}</label>
  <div ng-init="getItems(field)">
    <div ng-repeat="item in field.items" class="radio" ng-if="permissionsHandler.hasAccess(item,'canRead')">
      <label ng-class="{'checkbox-inline':field.isInline}">
        <input type="radio"
               name="{{field.id}}"
               value="{{item.value}}"
               ng-checked="item.checked"
               ng-disabled="!permissionsHandler.hasAccess(item,'canWrite')"
               ng-model="field.value">
        {{item.text}}
      </label>
      <br ng-if="field.isInline === false" />
    </div>
  </div>
</script>


<script type="text/ng-template" id="form_select">
  <label>{{field.text}}
    <select id="{{field.id}}" ng-model="field.value" class="form-control" ng-init="getItems(field)" >
      <option ng-repeat="item in field.items"
              value="{{item.value}}"
              ng-selected="item.selected"
              ng-disabled="!permissionsHandler.hasAccess(item,'canWrite')"
              ng-if="permissionsHandler.hasAccess(item,'canRead')">{{item.text}}</option>
    </select>
  </label>
</script>


<script type="text/ng-template" id="form_browse">
  <div class="form-inline">
    <div class="form-group">
      <label for="inputPassword2" class="sr-only">{{field.text}}</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="{{field.placeholder}}" ng-disabled="!permissionsHandler.hasAccess(field,'canWrite')">
    </div>
    <button type="submit" class="btn btn-default" ng-click="formDataService.formLogic[field.onClick]()" ng-disabled="!permissionsHandler.hasAccess(field,'canWrite')">{{field.buttonText}}</button>
  </div>
</script>

<script type="text/ng-template" id="form_customField">
  <div ng-include src="field.src"></div>
</script>

<!--<script type="text/ng-template" id="myCustom">
  <div>
    <div class="row"><span class="col-md-6">Input1</span><span class="col-md-6">Input2</span></div>
    <div class="row">
      <div class="col-md-6"><input class="form-control" type="text"/></div>
      <div class="col-md-6"><input class="form-control" type="text"/></div>
    </div>
  </div>
</script>-->


